#consultationForm {
 
    margin-left: 20%;
    margin-top: 5%;
   
}

#consultationResults{
    width: 80%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
  }
  
  table, td, th {
    border: 1px solid black;
  }

  #tableHeader{
      background-color: rgba(33, 79, 228, 0.727);
  }

  #showTotal{
    background-color: rgba(33, 79, 228, 0.405);
  }

  td{
      text-align: center;
  }
  p{
      margin-left: 10%;
      margin-right: 10%;
  }

  #laserMedLogo{
      /* display: block;
      margin-left: auto;
      margin-right: auto;
      position: relative; */
      margin-top: 2%;
      margin-right: 10%;
  }
  #laserMedLogoMain{
    display: block;
    margin-left: auto;
    margin-right: auto; 
  
    margin-top: 2%;
    margin-bottom: -2%;
    
}
#patientNameDiv{
    margin-left: 20%;
  

}

  #chapmanPic{
      margin-left:10%;
      margin-top: 2%;
  }

  #titleHead{
    font-size: 20px;
  }